.card:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .2s ease-in-out;
}

.staples:hover, .kitchen:hover{
    transform: scale(1.2);
}